#debugtxt {
  position: absolute;
  left: 0;
  top: 0;
  color: #fff;
  z-index: 99999;
  display: none;
}

#intro {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  user-select: none;
}

#skip {
  position: absolute;
  left: 80vw;
  width: 8vw;
  height: auto;
  bottom: 10px;
  z-index: 99999;
  cursor: hand;
}

#gm {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    180deg,
    #540d9b 0.38%,
    #d95dd4 45.7%,
    #f2a274 99.26%
  );
  overflow: hidden;
}

#gm-young-warrior {
  opacity: 0;
  position: absolute;
  left: 50%;
  bottom: 43vh;
  width: 600px;
  margin-left: -300px;
}

#press-start {
  position: absolute;
  opacity: 0;
  width: 920px;
  margin-left: -460px;
  bottom: 0;
  left: 50%;
}

#gm-young-warrior.step1 {
  transition: all 500ms linear;
  transition-property: opacity, bottom;
  bottom: 53vh;
  opacity: 1;
}

#gm-young-warrior.step2 {
  transition: opacity 300ms linear;
  bottom: 53vh;
}

#press-start.step2 {
  transition: all 500ms linear;
  transition-property: opacity, bottom;
  opacity: 1;
  bottom: 18vh;
}

#gm-sun {
  position: absolute;
  left: 50%;
  bottom: 46vh;
  margin-left: -340px;
  width: 680px;
  height: 335px;
  background: linear-gradient(180deg, #ff637d 0%, #ffed78 100%);
  border-top-left-radius: 500px;
  border-top-right-radius: 500px;
}

#gm-floor-background {
  position: absolute;
  top: 35vh;
  bottom: 0;
  left: 0;
  right: 0;
  transform: perspective(450px) rotateX(50deg);
  background: linear-gradient(180deg, #d95dd4 0%, #f2a274 100%);
}

#gm-floor {
  position: absolute;
  top: 35vh;
  bottom: 0;
  right: -1000px;
  left: -1000px;
  border-top: 2px solid #fff;
  transform: perspective(450px) rotateX(50deg);
  background-image: repeating-linear-gradient(
      to bottom,
      #fff,
      #fff 2px,
      transparent 2px,
      transparent 40px
    ),
    repeating-linear-gradient(
      to right,
      #fff,
      #fff 2px,
      transparent 2px,
      transparent 120px
    );
}

#ring {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background-image: url(./bg_ring.png);
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-color: #26091f;
  background-position: center;
}

.msgbox {
  position: absolute;
  border: 3px solid #000;
  background-color: #fff;
  box-shadow: 5px 5px 0 #000;
  color: #000;
  padding: .7em;
  line-height: 1.5em;
  letter-spacing: 1px;
}

.msgbox .author {
  text-transform: uppercase;
}

#hawking {
  position: absolute;
  transition: left 500ms ease-in;
  bottom: 4vh;
  height: 47vh;
  left: 52vw;
}

#hawking.step3 {
  left: 110vw;
}

.hawking-txt {
  transition: opacity 500ms linear;
  left: 42vw;
  top: 45vh;
  width: 16vw;
  opacity: 0;
}

.hawking-txt .author {
  color: #ff5c00;
}

#hawking-txt1.step4 {
  opacity: 1;
}

#hawking-txt3.step6 {
  opacity: 1;
}

#hawking-txt4.step7 {
  opacity: 1;
}

#turing {
  position: absolute;
  transition: top 500ms ease-in;
  top: 41vh;
  height: 55vh;
  right: 60vw;
}

#turing.step3,
#turing.step4 {
  transition-duration: 0;
  top: 110vh;
}

#turing-txt2 {
  transition: opacity 500ms linear;
  left: 36vw;
  top: 27vh;
  width: 18vw;
  opacity: 0;
}

#turing-txt2 .author {
  color: #397dff;
}

#turing-txt2.step5 {
  opacity: 1;
}

@keyframes appears {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
