#debugtxt {
  position: absolute;
  left: 0;
  top: 0;
  color: #fff;
  z-index: 99999;
}

#intro {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
}

#gm {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    180deg,
    #540d9b 0.38%,
    #d95dd4 45.7%,
    #f2a274 99.26%
  );
  overflow: hidden;
}

#gm-young-warrior {
  opacity: 0;
  position: absolute;
  left: 50%;
  bottom: 43vh;
  width: 600px;
  margin-left: -300px;
}

#press-start {
  position: absolute;
  opacity: 0;
  width: 920px;
  margin-left: -460px;
  bottom: 0;
  left: 50%;
}

#gm-young-warrior.step1 {
  transition: all 500ms linear;
  transition-property: opacity, bottom;
  bottom: 53vh;
  opacity: 1;
}

#gm-young-warrior.step2 {
  transition: opacity 300ms linear;
  bottom: 53vh;
}

#press-start.step2 {
  transition: all 500ms linear;
  transition-property: opacity, bottom;
  opacity: 1;
  bottom: 18vh;
}

#gm-sun {
  position: absolute;
  left: 50%;
  bottom: 46vh;
  margin-left: -340px;
  width: 680px;
  height: 335px;
  background: linear-gradient(180deg, #ff637d 0%, #ffed78 100%);
  border-top-left-radius: 500px;
  border-top-right-radius: 500px;
}

#gm-floor-background {
  position: absolute;
  top: 35vh;
  bottom: 0;
  left: 0;
  right: 0;
  transform: perspective(450px) rotateX(50deg);
  background: linear-gradient(180deg, #d95dd4 0%, #f2a274 100%);
}

#gm-floor {
  position: absolute;
  top: 35vh;
  bottom: 0;
  right: -1000px;
  left: -1000px;
  border-top: 2px solid #fff;
  transform: perspective(450px) rotateX(50deg);
  background-image: repeating-linear-gradient(
      to bottom,
      #fff,
      #fff 2px,
      transparent 2px,
      transparent 40px
    ),
    repeating-linear-gradient(
      to right,
      #fff,
      #fff 2px,
      transparent 2px,
      transparent 120px
    );
}

#ring {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background-image: url(./bg_ring.png);
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-color: #26091f;
  background-position: center;
}

#hawking {
  position: absolute;
  transition: right 1000ms ease-in;
  bottom: 2vh;
  right: -10vw;
  height: 55vh;
}

#hawking.step3 {
  right: 33vw;
}

@keyframes appears {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
